{% extends 'admin/admin_base.html' %}
{% import "_macros.html" as macros %}

{% block title %}
    Daniel Microblog -Blog comments
{% endblock %}

{% block admin_content %}
<div class="entry-box manage-comments">
    <h4><strong>Blog comments</strong></h4>
    <hr/>
    <p><span class="glyphicon glyphicon-comment"></span>Total comment：<span class="badge">{{ Comment.query.count() }}</span></p>
    <div class="handle-box-admin">
        <form id="delCommentsForm" method="post" action="{{ url_for('admin.delete_comments', page=page) }}">
            {{ form2.csrf_token }}
            {{ form2.commentIds(type='hidden') }}
        </form>
        <input type="checkbox" id="select-all" name="select-all" class="select-comments-admin">
        <label for="select-all">check all</label>
        <a class="btn btn-sm btn-danger delComments" id="delComments">
            <span class="glyphicon glyphicon-trash"></span>Batch deletion
        </a>
    </div>
    <ul class="comments">
        {% for comment in comments %}
        <li class="comment">
            <div class="comment-thumbnail">
                <input type="checkbox" class="op_check op_check_com" value="{{ comment.id }}">&nbsp;
                <img class="img-rounded profile-thumbnail"
                     src="{{ comment.gravatar() }}">
            </div>
            <div class="comment-info-admin">
                <span class="comment-author">
                    {{ comment.author_name }}
                    {{ comment.author_email }}
                    {% if User.query.filter_by(email=comment.author_email).count() %}
                        <span class="glyphicon glyphicon-user">Administrators</span>
                    {% endif %}
                </span>
                <span>
                    stay《<a href="{{ url_for('main.articleDetails', id=comment.article.id) }}" target="_blank">{{ comment.article.title }}</a>》
                    Comment：
                </span>
                <a class="btn btn-sm btn-info comment-handle-admin" title="Reply to comments"
                   onclick="pop_commentForm('{{ comment.id }}', '{{ comment.article.id }}')">
                    <span class="glyphicon glyphicon-comment"></span>
                </a>
                <a class="btn btn-sm btn-danger comment-handle-admin delete-comment-admin-btn"  title="Delete comments"
                   onclick="delCommentCfm('{{ url_for('admin.delete_comment', id=comment.id, page=page, delete_type='admin') }}')">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                {% if comment.disabled == True %}
                    <a class="btn btn-sm btn-success comment-handle-admin enabled-comment-admin-btn" title="Resume comment"
                       href="{{ url_for('admin.enable_comment', id=comment.id, page=page, enable_type='admin') }}">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </a>
                {% else %}
                    <a class="btn btn-sm btn-warning comment-handle-admin disabled-comment-admin-btn" title="Screen review"
                       href="{{ url_for('admin.disable_comment', id=comment.id, page=page, disable_type='admin') }}">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                {% endif %}
                <div class="comment-date">
                    <span>
                        <small>{{ moment(comment.timestamp.replace(microsecond=0)).format('YYYY-MM-DD hh:mm:ss') }}</small>
                    </span>
                </div>
                <div class="comment-content">
                    {% if comment.comment_type == 'reply' %}
                        <p class="comment-reply-info">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Reply to<strong><i>
                            {% if comment.followed_name() %}
                                {{ comment.followed_name() }}
                            {% else %}
                                {{ comment.reply_to }}
                                ({{ comment.reply_to }} the comment on this article has been deleted！)
                            {% endif %}
                            ：</i></strong>
                        </p>
                    {% endif %}
                    <p>{{ comment.content }}</p>
                    {% if comment.disabled == True %}
                        <p class="disabled-comment-admin-info">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            <i>The comment has been blocked on the blog page！</i>
                        </p>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint) }}
    </div>
</div>

<!-- 信息删除确认: For delete a comment confirm -->
<div class="modal fade" id="delCommentCfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirm delete comments？</h4>
            </div>
            <div class="modal-body">
                <p>
                    After deleting this comment, it cannot be restored. Are you sure you want to delete it？
                </p>
                <p>
                    （Tip: If you just don't want to display the comment content, you can choose to block it instead of deleting it.）
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <a onclick="" id="delCommentCfmClick" class="btn btn-success" data-dismiss="modal">confirm</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 信息删除确认: For select comments confirm -->
<div class="modal fade" id="selComsCfmModal">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">No comment selected</h4>
            </div>
            <div class="modal-body">
                <p>Please select the comments you want to delete！</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <a class="btn btn-success" data-dismiss="modal">confirm</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 信息删除确认: For delete comments confirm -->
<div class="modal fade" id="delComsCfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirm deletion of selected comments？</h4>
            </div>
            <div class="modal-body">
                <p>After deleting the comment, it cannot be restored. Are you sure you want to delete the selected comment?</p>
                <p>
                    （Tip: If you just don't want to display the comment content, you can choose to block it instead of deleting it。）
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <a id="delComsCfm" class="btn btn-success" data-dismiss="modal">confirm</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 信息删除确认: For comment form-->
<div class="modal fade" id="commentFormModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Submit comments（Administrators）</h4>
            </div>
            <form id="commentForm" method="post" action="">
                <div class="modal-body">

                        <div class="form-group">
                            {{ form.csrf_token }}
                            {{ form.follow(type='hidden') }}
                            {{ form.article(type='hidden') }}
                            {{ form.name.label }}
                            {{ form.name(class='form-control', required='', readonly='true', value=current_user.username) }}
                            {{ form.email.label }}
                            {{ form.email(class='form-control', required='', readonly='true', value=current_user.email) }}
                            {{ form.content.label }}{{ form.content(class='form-control', required='') }}
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="submit" id="subCommentCfmClick" class="btn btn-success">confirm</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
