{% extends 'admin/admin_base.html' %}
{% import "_macros.html" as macros %}

{% block title %}
    Daniel Microblog-Blog Categorization
{% endblock %}

{% block admin_content %}
<div class="entry-box manage-articleTypes">
    <h4><strong>Blog Categorization</strong></h4>
    <hr/>
    <p><span class="glyphicon glyphicon-book"></span>Total classification：<span class="badge">{{ ArticleType.query.count() }}</span></p>
    <div class="articleTypes-box">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ url_for('admin.manage_articleTypes') }}">Blog classification</a></li>
            <li class=""><a href="{{ url_for('admin.manage_articleTypes_nav') }}">Classified navigation</a></li>
        </ul>
        <div class="articleTypes" id="articleTypes">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="table-header">
                    <th>Classification name</th>
                    <th>Classification introduction</th>
                    <th>attribute</th>
                    <th>Subordinate navigation</th>
                    <th>Blog number</th>
                    <th>modify</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody>
                {% for articleType in articleTypes %}
                    <tr>
                        <td>
                            <a href="{{ url_for('main.articleTypes', id=articleType.id) }}" target="_blank">
                                {{ articleType.name }}
                            </a>
                        </td>
                        <td>
                            {% if articleType.introduction %}
                                {{ articleType.introduction }}
                            {% else %}
                                The classification is not yet introduced
                            {% endif %}
                        </td>
                        <td>
                            {% if articleType.is_hide %}
                                hide
                            {% else %}
                                show
                            {% endif %}
                        </td>
                        <td>
                            {% if articleType.menu %}
                                {{ articleType.menu.name }}
                            {% else %}
                                This classification does not currently have its own navigation
                            {% endif %}
                        </td>
                        <td>{{ articleType.articles.count() }}</td>
                        <td>
                            <a class="btn" title="Modifying classification information"
                               onclick="get_articleType_info('{{ url_for('admin.get_articleType_info', id=articleType.id) }}', {{ articleType.id }})">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-default delete-articleType" title="Delete categories"
                               onclick="delArticleTypeCfm('{{ url_for('admin.delete_articleType', id=articleType.id, page=page) }}')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="add-articleType">
            <a class="btn btn-sm btn-primary add-articleType-btn">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add classification
            </a>
        </div>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint) }}
    </div>
</div>

<!-- 信息删除确认: For add articleType form-->
<div class="modal fade" id="addArticleTypeFormModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Add blog classification</h4>
            </div>
            <form id="addArticleTypeForm" method="post" action="">
                <div class="modal-body">
                        <div class="form-group">
                            {{ form.csrf_token }}
                            {{ form.name.label }}
                            {{ form.name(class='form-control', required='') }}
                            {{ form.setting_hide.label }}
                            {{ form.setting_hide(class='form-control', required='') }}
                            {{ form.introduction.label }}（Optional）
                            {{ form.introduction(class='form-control') }}
                            {{ form.menus.label }}
                            {{ form.menus(class='form-control', required='') }}
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button id="addArticlyTypeCfmClick" type="submit" class="btn btn-success">confirm</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 信息删除确认: For edit articleType form-->
<div class="modal fade" id="editArticleTypeFormModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="ModalTitle"></h4>
            </div>
            <form id="editArticleTypeForm" method="post"
                  action="{{ url_for('admin.edit_articleType', page=page) }}">
                <div class="modal-body">
                        <div class="form-group">
                            {{ form2.csrf_token }}
                            {{ form2.articleType_id(type='hidden') }}
                            {{ form2.name.label }}
                            {{ form2.name(id='editName', class='form-control', required='') }}
                            {{ form2.setting_hide.label }}
                            {{ form2.setting_hide(id='editSetting_hide', class='form-control', required='') }}
                            {{ form2.introduction.label }}（Optional）
                            {{ form2.introduction(id='editIntroduction', class='form-control') }}
                            {{ form2.menus.label }}
                            {{ form2.menus(id='editMenus', class='form-control', required='') }}
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button id="editArticlyTypeCfmClick" type="submit" class="btn btn-success">confirm</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 信息删除确认: For delete an articletype confirm -->
<div class="modal fade" id="delArticleTypeCfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Confirm deletion categories?</h4>
            </div>
            <div class="modal-body">
                <p>
                    After deleting this category, it can not be restored. At the same time, all blog posts in this category will be set to < strong > unclassified </strong>. Are you sure you want to delete them?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                <a onclick="" id="delArticleTypeCfmClick" class="btn btn-success" data-dismiss="modal">confirm</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}